{% load static from staticfiles %}
{% static "api.js" as js %}

<!DOCTYPE html>
<html>
<head>
    <title>What is your weight in gold?</title>
    <script src="{{js}}" type="text/javascript"></script>
</head>

<body>
    <h2>The purpose of this app is to translate your weight in lbs to what that amount of gold would be worth.</h2>
    <input type="text" id="input"/>
    <br />
    <button onclick="convert()">Click me!</button>
    <p id="quandl"></p>
</body>

</html>